aiofiles
aiosqlite
altair
annotated-types
anyio
appnope
argcomplete
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
bpyutils
certifi
cffi
charset-normalizer
click
colorama
comm
copier
debugpy
decorator
defusedxml
deprecation
dunamai
entrypoints
exceptiongroup
executing
fastjsonschema
fqdn
funcy
idna
importlib-metadata
importlib-resources
intent-inference
ipykernel
ipython
ipython-genutils
isoduration
jedi
Jinja2
jinja2-ansible-filters
jinja2-time
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_packaging
jupyter_server
jupyter_server_fileid
jupyter_server_terminals
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab_server
MarkupSafe
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook_shim
numpy
overrides
packaging
pandas
pandocfilters
paretoset
parso
pathspec
-e git+https://github.com/visdesignlab/persist.git@975b37e8b3e92c4b9f7a59ef660754015559ff05#egg=persist_ext
pexpect
pickleshare
pipupgrade
pipx
pkgutil_resolve_name
platformdirs
plumbum
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
pydantic
pydantic_core
Pygments
pyrsistent
python-dateutil
python-json-logger
pytz
PyYAML
pyyaml-include
pyzmq
questionary
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
scikit-learn
scipy
Send2Trash
six
sniffio
soupsieve
stack-data
terminado
threadpoolctl
tinycss2
tomli
tomli_w
tomlkit
toolz
tornado
traitlets
typing_extensions
tzdata
uri-template
urllib3
userpath
vega-datasets
wcwidth
webcolors
webencodings
websocket-client
y-py
ypy-websocket
zipp
