/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/

.jp-OutputHeaderWidget {
  grid-area: head;
  padding: 1em;
  border-bottom: 2px solid rgb(0 0 0 / 10%);
  margin-bottom: 0.5em;
}

.jp-OutputHeaderWidget-btn {
  margin: 0 1em;
}
