/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

.footer-wrapper {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  margin: 30px 0px;
  align-items: center;
}
.footer-wrapper .logo {
  height:40px;
}

html[data-theme='light'] .dark-theme-display-component {
  display:none;
}
html[data-theme='dark'] .light-theme-display-component {
  display:none;
}

.footer-wrapper a {
  opacity:0.73;
}

.footer-wrapper a:hover{
  opacity:1;
}

@media only screen and (max-width: 1024px){
  .footer-wrapper .logo{
    height: 40px;
  }
}
@media only screen and (max-width: 996px){
  .footer-wrapper .col{
    --ifm-col-width:calc(3 / 12 * 100%);
  }
}

@media only screen and (max-width:768px){
  .footer-wrapper .col{
    --ifm-col-width:100%;
    margin:10px 0px;
  }
}




/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #f05a30;
  --ifm-color-primary-dark: #d8512b;
  --ifm-color-primary-darker: #c04826;
  --ifm-color-primary-darkest: #a83e21;
  --ifm-color-primary-light: #f16a44;
  --ifm-color-primary-lighter: #f37a59;
  --ifm-color-primary-lightest: #f48b6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-navbar-height: 70px;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #f05a30;
  --ifm-color-primary-dark: #d8512b;
  --ifm-color-primary-darker: #c04826;
  --ifm-color-primary-darkest: #a83e21;
  --ifm-color-primary-light: #f16a44;
  --ifm-color-primary-lighter: #f37a59;
  --ifm-color-primary-lightest: #f48b6e;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar__logo img {
  height: 100%;
  margin-top: -5px;
}
.navbar__brand{
  margin-right:0px;
}
